$info-btn-color: $primary-color;

.new-build {
	padding: 0 12px;
	background-color: $create-bg-color;
	.info-sign {
		color: $info-btn-color;
		margin-left: 4px;
	}

	.arrow-down {
	    display: initial;
	}
	.arrow-up {
	    display: none;
	}
	&.open {
		.arrow-down {
		    display: none;
		}
		.arrow-up {
		    display: initial;
		}
	}
}
