


.details {
    background-color: $details-bg-color;
    padding: rem-calc(16 24 0);
    position: relative;

    .build-header {
        margin-left: rem-calc(-7);
        .icon {
            font-size: 2rem;
        }
    }

    // make it reusable
    dl {
        width: 100%;
        overflow: hidden;
    }

    dt {
        float: left;
        width: 25%;
        margin-bottom: 0;
    }

    dd {
        float: left;
        width: 75%;
        margin-bottom: 0;
    }

    .status-details {
        display: block;
    }

    .icon {
        margin-right: rem-calc(10);
    }

    .descr {
        font-weight: bold;
    }

    .error {

        .icon, .descr {
            color: $error-color;
        }

        .icon {
            font-size: rem-calc(18);
        }
    }

    .canceled {

        .icon {
            color: $canceled-icon-color;
        }
        .descr {
            color: $canceled-text-color;
        }

        .icon {
            font-size: rem-calc(18);
        }
    }
    .completed {

        .icon, .descr {
            color: $completed-color;
        }

        .icon {
            font-size: rem-calc(20);
        }
    }



    .creating {

        .descr {
            color: $creating-text-color;
        }

        .icon {
            display: inline-block;
            width: rem-calc(19);
            height: rem-calc(19);
            border-radius: 10px;
            position: relative;
            font-size: rem-calc(18);
            margin-right: 0;
            color: darken($primary-color, 5%);
        }
    }
    
    .buttons {
        position: relative;
    }

    .alert-panel {
        top: auto;
        bottom: rem-calc(75);
        right: auto;
        left: 0;
    }

}


@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}



.wrap-meter {
    width: 100%;
    &.waiting {
        .meter {
            text-align: center;
            width: 100%;
            font-size: rem-calc(12);
            font-weight: bold;
            span {
                background-color: #bdbdbd;
            }
        }
    }

    &.moving {
        padding-right: rem-calc(8);
        padding-left: rem-calc(8);
        .meter {
            transition: width 5000ms ease-in-out;
            span {
                background-color: $info-color;
            }
        }
    }
}

.meter {
    height: rem-calc(17);
    position: relative;
    background: transparent;
    border-radius: 4px;
    margin: rem-calc(10 0);

}


.meter > span {
    display: block;
    height: 100%;
    border-radius: 4px;
    padding: 1px;
}


.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-radius: 4px;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
