.details {
    background-color: $details-bg-color;
    padding: rem-calc(16 24 0);
    position: relative;

    h2 {
        margin-left: rem-calc(-7);
    }

    // make it reusable
    dl {
        width: 100%;
        overflow: hidden;
    }

    dt {
        float: left;
        width: 25%;
        margin-bottom: 0;
    }

    dd {
        float: left;
        width: 75%;
        margin-bottom: 0;
    }

    .status-details {
        display: block;
    }

    .icon {
        margin-right: rem-calc(10);
    }

    .descr {
        font-weight: bold;
    }

    .error {

        .icon, .descr {
            color: $error-color;
        }

        .icon {
            font-size: rem-calc(18);
        }
    }

    .canceled {

        .icon {
            color: $canceled-icon-color;
        }
        .descr {
            color: $canceled-text-color;
        }

        .icon {
            font-size: rem-calc(18);
        }
    }
    .completed {

        .icon, .descr {
            color: $completed-color;
        }

        .icon {
            font-size: rem-calc(20);
        }
    }



    .creating {

        .descr {
            color: $creating-text-color;
        }

        .icon {
            display: inline-block;
            width: 19px;
            height: 19px;
            border-radius: 10px;
            background-color: $creating-icon-color;
            position: relative;
            vertical-align: text-top;
        }

        .dot {
            color: darken($primary-color, 10%);
            font-size: rem-calc(25);
            font-weight: bold;
            margin-right: rem-calc(-6);
            animation-name: blink;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            position: relative;
            bottom: 16px;
            left: 2px
        }

        .dot:nth-child(2) {
            animation-delay: .2s;
        }

        .dot:nth-child(3) {
            animation-delay: .4s;
        }
    }

}


@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}