.details {
	background-color: $details-bg-color;
	// make it reusable
	dl {
		width: 100%;
		overflow: hidden;
	}
	dt {
		float: left;
		width: 30%;
		margin-bottom: 0;
	}
	dd {
		float: left;
		width: 70%;
		margin-bottom: 0;
	}
}
