.file {
    max-height: 500px;
    overflow: auto;
}
pre {
    white-space: pre;
    font-size: rem-calc(12);
}
.buttons {
    .button.right {
        margin-left: 1rem;
    }
}

.sidebar {
    li {
        position: relative;
    }
    .alert-panel {
        right: 10px;
        padding-bottom: 0;
    }

}
