.file {
    max-height: 500px;
    overflow: auto;
}
pre {
    white-space: pre;
    font-size: rem-calc(12);
}
.buttons {
    .button.right {
        margin-left: 1rem;
    }
}

.sidebar {
    li {
        position: relative;
    }
    .alert-panel {
        right: 10px;
        padding-bottom: 0;
    }

}

.alert-error {
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: inline-block;
    padding: rem-calc(5 10);
    background: $alert-color;
    color: white;
    z-index: 10;
    font-size: rem-calc(13);
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    a {
        color: white;
        font-size: rem-calc(16);
    }
    &.visible {
        visibility: visible;
        opacity: 1;
    }
}
