// heights
$header-height: 5rem;
$topbar-height: 2.8rem;
$footer-height: 3.5rem;
// colors
$header-bg-color: #3aa6f4; // primary-color to settings
$footer-bg-color: #3aa6f4;
$sidebar-bg-color: $silver;
$middle-bg-color: $iron;
$create-bg-color: $silver;
$details-bg-color: $silver;



// ===
.header, .top-bar, .middle, footer {
	// position: absolute;
    left: 0;
}

.middle {
	padding-top: $header-height + $topbar-height;
	padding-bottom: $footer-height;
	top: - ($header-height + $topbar-height);
	overflow: hidden;
}

// ===

html, body, body > .ember-view, .ember-view > .row, .middle {
	height: 100%;
	position: relative; // for wrapper
}
header {
	background-color: $header-bg-color;
    height: $header-height;
    padding: 0.9375rem;
}
.top-bar {
	height: $topbar-height;
	line-height: $topbar-height;

    border-top: 1px solid $iron;
    border-bottom: 1px solid $iron;
    background-color: $topbar-bg-color;
    box-shadow: 2px 2px 8px $jumbo;

	list-style: none;
}

footer {
	position: relative;
	background-color: $footer-bg-color;
	height: $footer-height;
	width: 100%;
	top: - ($header-height + $topbar-height + $footer-height); 
}
.main {
	background-color: $middle-bg-color;
	overflow: auto;
	height: 100%;
}
.sidebar {
	background-color: $sidebar-bg-color; //light yellow
	overflow: auto;
	height: 100%;
}



.search {
	line-height: 1;
	position: relative;
	label {
		display: inline-block;
		position: relative;
		right: 30px;
		top: 0.53125rem;

	}
	input {
		display: inline-block;
		width: 200px;
		border-radius: 20px;
	}
}

// is there a different way?
.error {
	color: $alert-color;
}
.success {
	color: $success-color; 
}
