@font-face {
    font-family: 'Nothing You Could Do';
    src: url(../google-fonts/Nothing_You_Could_Do/NothingYouCouldDo.ttf);
}

@font-face {
    font-family: 'Averia Gruesa Libre';
    src: url(../google-fonts/Averia_Gruesa_Libre/AveriaGruesaLibre-Regular.ttf);
}

@font-face {
    font-family: 'Lobster';
    src: url(../google-fonts/Lobster/Lobster-Regular.ttf);
}


@font-face {
    font-family: 'Roboto';
    src: url(../google-fonts/Roboto/Roboto-Light.ttf);
}

html {
    overflow: hidden;
}

.header, .top-bar, .middle, footer {
    left: 0;
}

h2 .icon-disk-filled {
    font-size: rem-calc(24);
}

.middle {
    background-color: $white;
    padding-top: $header-height + $topbar-height;
    padding-bottom: $footer-height;
    top: - ($header-height + $topbar-height);
    overflow: hidden;
}

html, body, body > .ember-view, .ember-view > .row, .middle {
    height: 100%;
    position: relative; // for wrapper
}

.main {
    background-color: $middle-bg-color;
    overflow: auto;
    height: 100%;
}

.sidebar {
    background-color: $sidebar-bg-color;
    overflow: auto;
    height: 100%;
    padding: 1.75rem 0;

    li {
        padding: 0;

        .remove-sign {
            display: inline-block;
            width: rem-calc(22);
            height: rem-calc(22);
            line-height: rem-calc(22);
            border-radius: rem-calc(13);
            text-align: center;
            margin: rem-calc(4 20 0 0);
        }

        .icon-disk-filled {
            display: none;
            width: 20px;
            height: 25px;
            line-height: 25px;
            margin-right: 10px;
            font-size: 1.25rem;
            position: relative;
            left: -3px;
        }

        .icon-disk-outline {
            display: inline-block;
            width: 20px;
            height: 25px;
            line-height: 25px;
            margin-right: 10px;
        }

        a[href^="/builds/"] {
            padding: rem-calc(4 20);
            color: $topbar-link-color;
            display: block;

        }
        a.active {
            background-color: lighten($info-color, 10%);


            .icon-disk-outline {
                display: none;
            }

            .icon-disk-filled {
                display: inline-block;
            }
        }

        &:not(.empty-list):hover {
            a[href^="/builds/"] {
                background-color: lighten($primary-color, 30%);
            }

            a:not(.remove-sign) {
                i, span {
                    color: white;
                }
            }

            .remove-sign {
                background-color: $sidebar-bg-color;
            }

            .icon-disk-filled {
                display: inline-block;
            }

            .icon-disk-outline {
                display: none;
            }
        }
        &.empty-list {
            color: gray;
            padding-left: 28px;
        }
        .build-status {
            font-style: normal;
            border: 1px solid $white;
            vertical-align: text-bottom;
            height: 20px;
            margin-left: 6px;
            &.error {
                background-color: $alert-color;
            }
            &.completed {
                background-color: $success-color;
            }
            &.creating {
                background-color: darken($info-color, 15%);
            }
            &.canceled {
                background-color: $warning-color;
            }
        }
    }

    .remove-sign {
        color: $alert-color;
    }
}

.buttons {
    .alert {
        background-color: lighten($alert-color, 30%);
    }
    .info:hover {
        background-color: $primary-color;
    }
     a {
        .fa {
            margin-right: 3px;
        }
    }
}

.wrap-text {
    word-wrap: break-word
}

.content {
    padding: 50px 20px;
    overflow: auto;
    height: 100%;
    background: white;
    h2, h3 {
        font-weight: bold;
    }
}

body {
    background: url('images/fabric_of_squares_gray.png');
}


.loader {
    color: $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lighten($iron, 10%);
    opacity: 0.7;
    font-size: 70px;
    padding-top: 30%
}

.icon-disk-filled:before {
    transform: rotate(90deg);
}
