
// heights
$header-height: 5rem;
$footer-height: 3.5rem;

// colors
$blue-1: #0764a6;
$blue-2: #3582AC;

$header-bg-color: $primary-color; // primary-color to settings
$footer-bg-color: $topbar-bg-color;
$sidebar-bg-color: $silver;
$middle-bg-color: $iron;
$create-bg-color: $silver;
$details-bg-color: $silver;

$creating-text-color: darken($info-color, 10%);
$creating-icon-color: $info-color;
$completed-color: $success-color;
$canceled-text-color: darken($warning-color, 10%);;
$canceled-icon-color: $warning-color;
$error-color: $alert-color;
