
// heights
$header-height: 5rem;
$footer-height: 3.5rem;

// colors
$blue-1: #0764a6;
$ciel-1: #3aa6f4;

$header-bg-color: $primary-color; // primary-color to settings
$footer-bg-color: $topbar-bg-color;
$sidebar-bg-color: $silver;
$middle-bg-color: $iron;
$create-bg-color: $silver;
$details-bg-color: $silver;
