@import "settings_extra";
@import "settings";

@import "foundation";
@import "main";
@import "create_build";
@import "details";
@import "extras";
@import "fontello";


.panel em {
    padding-right: 20px;
    background:
}

.panel em:after {
    font-family: FontAwesome;
    font-style: normal;
    padding-left: 20px;
}

.panel em.ERROR:after {
    color: $alert-color;
    content: "\f1e2"; 
}
.panel em.SUCCESS:after {
    color: $success-color;
    content: "\f00c"; 
}

.search-box {
    position: relative;
    .fa {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

small.error {
    margin-top: -1rem;
}
