<section class="details panel">
    {{#link-to "builds" class="right"}}{{fa-icon "close"}}{{/link-to}}
    <h2><i class="icon-disk-filled"></i>Build not found</h2>
    <p>A build with id {{model.fake}} was not found on the server. It could have been deleted or never existed.</p>
    <br>
 </section>
