<div class="middle">
    <div class="content">
        <h2>About ICaaS</h2>
        <p>ICaaS (Image Creation as a Service) is a service to be used in combination with a <a href="https://www.synnefo.org/">Synnefo</a> deployment to easily import and register external OS Images on it.</p>
        <p>The main source of OS images that ICaaS works with is the <a href="https://bitnami.com/">Bitnami Project.</a></p>
        <h2>Copyright and licence</h2>
        <p>Copyright &copy; 2015 GRNET S.A.</p>

        <p>This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.</p>

        <p>This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.</p>

        <p>You should have received a copy of the GNU General Public License
        along with this program.  If not, see <a href="http://www.gnu.org/licenses/">
        www.gnu.org/licenses/</a>.</p>

        <ul class="inline-list sponsors">
            <li><a href="http://europa.eu/" target="_blank"><img src="assets/images/eu.png"/></a></li>
            <li><a href="http://www.digitalplan.gov.gr/portal/" target="_blank"><img src="assets/images/dg.png"/></a></li>
            <li><a href="http://www.espa.gr/en/Pages/Default.aspx" target="_blank"><img src="assets/images/nsfr.png"/></a></li>
            <li><a href="https://www.grnet.gr/en" target="_blank"><img src="assets/images/grnet.png"/></a></li>
        </ul>
        <p class="disclaimer">The project is co-financed by Greece and the European Union</p>
    </div>
</div>
