 <ul class="inline-list right">
    <li>
        {{#link-to "guide"}}
            {{fa-icon "question-circle"}}
            <label>Help</label>
        {{/link-to}}
    </li>
    <li>
        {{#link-to 'login'}}
            {{fa-icon "sign-out"}}
            <label>Log Out</label>
        {{/link-to}}
    </li>
</ul>
