 <ul class="inline-list right">
    <li>
        {{#link-to "guide"}}
            {{fa-icon "question-circle"}}
            <label>Help</label>
        {{/link-to}}
    </li>
    <li>
        <a href="" {{action 'logout'}}>
        {{fa-icon "sign-out"}}
        <label>Log Out</label>
        </a>
    </li>
</ul>
