 <ul class="inline-list right">
    <li>
        {{#link-to "guide"}}
            {{fa-icon "question-circle"}}
            <label>{{t "buttons.user_guide"}}</label>
        {{/link-to}}
    </li>
    <li>
        {{#link-to 'login'}}
            {{fa-icon "sign-out"}}
            <label>{{t "buttons.logout"}}</label>
        {{/link-to}}
    </li>
</ul>
