<footer>
    <a href="https://www.grnet.gr/en" target="_blank">Copyright {{fa-icon "copyright"}} 2015 - 2016 GRNET</a>
    <span>All rights reserved.</span>
    <a href="" target="_blank" class="right">Terms of service</a>   
</footer>