 <ul class="inline-list right">
    <li>
        {{#link-to "builds"}}
            <i class="fa icon-disk-filled"></i>
            <label>{{t "buttons.builds_list"}}</label>
        {{/link-to}}
    </li>
    <li>
        {{#link-to "login"}}
            {{fa-icon "sign-out"}}
            <label>{{t "buttons.logout"}}</label>
        {{/link-to}}
    </li>
</ul>
