<div class="middle">
    <div class="content">
        <h2>General</h2>
        <p>
            ICaaS is a Python Flask application meant to provide the functionality 
            of snf-image-creator as a service, through the use of VMs.
        </p>
        <p>
            Currently the service uses 
            <a href="https://bitnami.com/" target="_blank"><strong>bitnami</strong></a> 
            virtual machines to build the images.
        </p>
        <h2>Instructions</h2>
        <p>
            Visit <a href="https://bitnami.com/stacks">Bitnami applications page</a> 
            to view all availble images.<br>
            You will see a filterable and searchable list of available applications.<br>
            Click on the selected application as shown below:
        </p>
        <p>
            <img src="assets/images/guide_01.jpg" class="th" >
        </p>
        <p>
            You will be then redirected to the application bitnami page.<br>
            Click on the <strong>{application} Virtual Machines</strong> 
            link in the OTHER OPTIONS tab on the right side of the page:
        </p>
        <p>
            <img src="assets/images/guide_02.jpg" class="th">
        </p>
        <p>
            You will then be guided to page with different versions of your application.<br>
            Once you have found the one you want, right click on the 
            <strong>DOWNLOAD</strong> button and copy the link
        </p>
        <p>
            <img src="assets/images/guide_03.jpg" class="th">
        </p>
    </div>
</div>
