<header class="text-center header">
{{#if isLoggedIn}}
    <p class="right welcome">Welcome, {{settings.username}}</p>
{{else}}
    <p class="right welcome">Welcome, user</p>
{{/if}}
    {{demo-header}}
</header>