<div class="row">
	
	<header class="text-center header">
		{{demo-header}}
	</header>
	{{!-- <div class="contain-to-grid"> --}}
		
	<div class="top-bar">
	  <section class="search small-6 large-5 columns">
			<select>
				<option>Sort by name A → Z</option>
				<option>Sort by name Z → A</option>
				<option>Sort by status A → Z</option>
				<option>Sort by status Z → A</option>
				<option>Sort by creation date ↓</option>
				<option>Sort by creation date ↑</option>
			</select>
		  <form>
				<input type="text" placeholder="Search builds...">
				<label>
					<i class="fa fa-search"></i>
				</label>
		  </form>
	  </section>

	  <section class="logout small-6 large-7 columns text-right">
		  	<a href="">Log Out</a>
	  </section>
	</div>

	<div class="middle">
		<div class="small-6 large-5 columns sidebar">
		<ul class="no-bullet">
			<li >
				<a href="">
					<i class="fa fa-hospital-o"></i>
					<span>Build 1</span>
					<span class="label alert">Error</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-hospital-o"></i>
					<span>hell</span>
					<span class="label success">Completed</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-hospital-o"></i>
					<span>debian with wordpress</span>
					<span class="label info">Created</span>
				</a>
			</li>
		</ul>
		</div>
		<div class="small-6 large-7 columns main">
		<section class="new-build open" id="new-build">
			<h2 id="create-header">
				Build a new image
				{{slide-arrow areaID="creation-form" btnID="create-header" containerID="new-build"}}
			</h2>
			<section id="creation-form">
				<form>
					<label>
						Name
						<i class="info-sign fa fa-info-circle"></i>
					</label>
					<input type="text">
					<label>
						Bitnami URL
						<i class="info-sign fa fa-info-circle"></i>
					 </label>
					 <input type="text">
					<label>
						Blah
						<i class="info-sign fa fa-info-circle"></i>
					</label>
					<input type="text">
	                <label>
		                Project
						<i class="info-sign fa fa-info-circle"></i>
		                </label>
	                <select>
						<option>yio</option>
						<option>Yio</option>
						<option>Yio</option>
						<option>Yio</option>
	                </select>
				</form>
				<button>Build</button>
			</section>
		</section>
			<section class="details">
				<h2>Build 1</h2>
				<dl>
					<dt>ID</dt><dd>12345</dd>
					<dt >Status</dt><dd  class="error">Error</dd>
					<dt>Created</dt><dd class="success">3 months ago</dd>
					<dt>Update</dt><dd>2 days ago</dd>
				</dl>
			</section>
		</div>
	</div>
		<footer>
			Funding?
			Copyright?
			Terms of use/service?
			Version?
		</footer>
</div>		