{{outlet}}
<div class="content promo">
    <div class="panel">
        <h1 class="text-center">404 page</h1>
        <h2 class="text-center">What you are looking for was not found.</h2>
        <p>Check the URL's spelling or try one of the following:</p>
        <ul>
            <li>{{#link-to 'builds'}}Builds homepage{{/link-to}}</li>
            <li>{{#link-to 'guide'}}User guide{{/link-to}}</li>
            <li>{{#link-to 'login'}}Login page{{/link-to}}</li>
        </ul>
        <blockquote>Not all those who wander are lost<cite> J. R. R. Tolkien</cite></blockquote>
    </div>
    
</div>
