<div class="top-bar">
    <section class="search small-6 large-5 columns">
        {{outlet "top-bar-right"}}
    </section>
    <section class="logout small-6 large-7 columns">
       {{outlet "top-bar-left"}}
    </section>
</div>